extends base

block content
  #wrapper
    #left__container
      a#DashBoard.item__Dashboard__overview(href='/dashboard') DashBoard
        img#dashboard__img(src='/img/dashboard.png' alt='options logo')
      a#Campaign.item__Campaign__overview(href='/campaign') Campaign
        img#star__img(src='/img/star.png' alt='options logo')
      a#Content.item__Content__overview(href='/content') Content
        img#folder__img(src='/img/folder.png' alt='options logo')
      a#Devices.item__Devices__overview(href='/devices')  Devices
        img#desktop__img(src='/img/desktop.png' alt='options logo')
      a#Devices.item__Statistics__overview(href='/statistics') Statistics
        img#statistics__img(src='/img/statistics.png' alt='options logo')
    #right__container
      .current_running__ad
        | Current Running AD
      .sub_right_container
        .connected__device
          | Connected Device
        .Active__Campaign Active Campaign
        .Device__Storage__Space Device Storage Space
        .logout__data Logged Out 
        
                